div #loading{
  background: rgba(200, 200, 200, 0.5);
}

.with-fixed-top-navbar{
    .navbar{
        position: fixed;
    }

    .main-content{
        padding-top: 80px;
    }
}

img.flag{
    vertical-align: middle;
}

// redefine select2 style
.select2{
    width: 100% !important;

    .select2-selection{
        padding: 6px;
        min-height: 41px;
        border-color: #D4D4D4;

        .select2-selection__rendered{
            padding-right: 30px;
            color: #666;
        }

        .select2-selection__arrow{
            min-height: 41px;
            width: 30px;
        }
    }
}
